In [1]:
import pandas as pd
import numpy as np

In [32]:
#using numpy attribute np.nan to replace the value with NaN
df = pd.DataFrame({
    'name':['Ankita','Amit','Reena','Ram','Pinky','Pratik'],
    'empId':[101,102,103,104,105,106],
    'dName':['Sales',np.nan,'Accounts','Marketing',np.nan,'Sales']
})

print(df)

     name  empId      dName
0  Ankita    101      Sales
1    Amit    102        NaN
2   Reena    103   Accounts
3     Ram    104  Marketing
4   Pinky    105        NaN
5  Pratik    106      Sales

In [33]:
#update the column name
df = df.rename(columns={'name':'empName','dName':'deptName'})
print(df)

  empName  empId   deptName
0  Ankita    101      Sales
1    Amit    102        NaN
2   Reena    103   Accounts
3     Ram    104  Marketing
4   Pinky    105        NaN
5  Pratik    106      Sales

In [34]:
print(df.columns)

Index(['empName', 'empId', 'deptName'], dtype='object')

In [35]:
#converting the columns atrributes/names to upper case
df.columns = df.columns.str.upper()
print(df)

  EMPNAME  EMPID   DEPTNAME
0  Ankita    101      Sales
1    Amit    102        NaN
2   Reena    103   Accounts
3     Ram    104  Marketing
4   Pinky    105        NaN
5  Pratik    106      Sales

In [36]:
print(df.loc[3])

EMPNAME           Ram
EMPID             104
DEPTNAME    Marketing
Name: 3, dtype: object

In [37]:
#fetching the details of an employee where both the conditions should be true
print(df.loc[(df['EMPID']==104) & (df['EMPNAME']=='Ram')])

  EMPNAME  EMPID   DEPTNAME
3     Ram    104  Marketing

In [38]:
#fetching the details of an employee where any the conditions should be true
print(df.loc[(df['EMPID']==104) | (df['EMPNAME']=='Pinky')])

  EMPNAME  EMPID   DEPTNAME
3     Ram    104  Marketing
4   Pinky    105        NaN

In [39]:
#update the whole values
df.loc[df['EMPID']==104] = ['Rohit',104,'Sales']
print(df)

  EMPNAME  EMPID  DEPTNAME
0  Ankita    101     Sales
1    Amit    102       NaN
2   Reena    103  Accounts
3   Rohit    104     Sales
4   Pinky    105       NaN
5  Pratik    106     Sales

In [40]:
print(df.loc[df['EMPID']==104,['DEPTNAME']])

  DEPTNAME
3    Sales

In [41]:
df.loc[df['EMPID']==104,['DEPTNAME']] = ['Marketing']

print(df)

  EMPNAME  EMPID   DEPTNAME
0  Ankita    101      Sales
1    Amit    102        NaN
2   Reena    103   Accounts
3   Rohit    104  Marketing
4   Pinky    105        NaN
5  Pratik    106      Sales

In [42]:
df['DEPTNAME'].unique()

array(['Sales', nan, 'Accounts', 'Marketing'], dtype=object)

In [43]:
df['DEPTNAME'].value_counts()

DEPTNAME
Sales        2
Accounts     1
Marketing    1
Name: count, dtype: int64

In [44]:
#checking if there are any null values present in the column DEPTNAME and counting it
df['DEPTNAME'].isnull().value_counts()

DEPTNAME
False    4
True     2
Name: count, dtype: int64

In [45]:
print(df)

  EMPNAME  EMPID   DEPTNAME
0  Ankita    101      Sales
1    Amit    102        NaN
2   Reena    103   Accounts
3   Rohit    104  Marketing
4   Pinky    105        NaN
5  Pratik    106      Sales

In [15]:
#filling the null values with No dept as the employee has not been assigned a department
df["DEPTNAME"].fillna("No Dept.", inplace = True)

print(df)

  EMPNAME  EMPID   DEPTNAME
0  Ankita    101      Sales
1    Amit    102   No Dept.
2   Reena    103   Accounts
3   Rohit    104  Marketing
4   Pinky    105    Finance
5  Pratik    106      Sales

In [16]:
df['DEPTNAME'].isnull().value_counts()

DEPTNAME
False    6
Name: count, dtype: int64