In [1]:
import pandas as pd

In [2]:
#checking the version of pandas
print(pd.__version__)

2.1.3

In [3]:
data = [11,12,13,14,15]
series = pd.Series(data)
print(series)

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [4]:
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
#monthly sale data for a product
sales = [1700,3679,4011,7586,5077,2589,6291,6388,3789,10000,5389,1500]

sales_series = pd.Series(sales,index=months,name='Monthly Sales')
print(sales_series)

Jan     1700
Feb     3679
Mar     4011
Apr     7586
May     5077
Jun     2589
Jul     6291
Aug     6388
Sep     3789
Oct    10000
Nov     5389
Dec     1500
Name: Monthly Sales, dtype: int64

In [11]:
data = {'Name':['Reena','Meena','Anuska','Teena'],
    'Age':[26,28,25,24]
}

#create a dataframe from a dict
df = pd.DataFrame(data)
print(df)

     Name  Age
0   Reena   26
1   Meena   28
2  Anuska   25
3   Teena   24

In [12]:
#Add a new columns state
df['State'] = ['WB','Bihar','MP','UP']
print(df)

     Name  Age  State
0   Reena   26     WB
1   Meena   28  Bihar
2  Anuska   25     MP
3   Teena   24     UP

In [13]:
new_columns = {
    'city':['Kolkata','Patna','Bhopal','Ghaziabad'],
    'gender':['Female','Female','Female','Female']
}
df['City'] = new_columns['city']
#df['Gender'] = new_columns['gender']
#df.insert(col_index,column_name,column_data)
df.insert(2,'Gender',new_columns['gender'])

print(df)

     Name  Age  Gender  State       City
0   Reena   26  Female     WB    Kolkata
1   Meena   28  Female  Bihar      Patna
2  Anuska   25  Female     MP     Bhopal
3   Teena   24  Female     UP  Ghaziabad

In [14]:
#to add a new row to the dataframe
#pd.concat(obj)
data = {'Name':['Ankit'],'Age':[26],'Gender':['Male'],'State':['Delhi'],'City':['New Delhi']}
new_row = pd.DataFrame(data)


df = pd.concat([df,new_row],ignore_index=True)
print(df)

     Name  Age  Gender  State       City
0   Reena   26  Female     WB    Kolkata
1   Meena   28  Female  Bihar      Patna
2  Anuska   25  Female     MP     Bhopal
3   Teena   24  Female     UP  Ghaziabad
4   Ankit   26    Male  Delhi  New Delhi

In [15]:
#to add multiple rows in a dataframe
data = {'Name':['Rohan','Amit'],
        'Age':[26,23],
        'Gender':['Male','Male'],
        'State':['Delhi','Punjab'],
        'City':['New Delhi','Amritsar']}
new_rows = pd.DataFrame(data)


df = pd.concat([df,new_rows],ignore_index=True)
print(df)

     Name  Age  Gender   State       City
0   Reena   26  Female      WB    Kolkata
1   Meena   28  Female   Bihar      Patna
2  Anuska   25  Female      MP     Bhopal
3   Teena   24  Female      UP  Ghaziabad
4   Ankit   26    Male   Delhi  New Delhi
5   Rohan   26    Male   Delhi  New Delhi
6    Amit   23    Male  Punjab   Amritsar

In [18]:
#insert a new record in a specified position
# DataFrame.loc[pos]
data = {'Name':'Priya','Age':28,'Gender':'Female','State':'WB','City':'Kolkata'}

df.loc[2.5] = data #This will insert at index 3
df = df.sort_index().reset_index(drop=True)

print(df)

     Name  Age  Gender   State       City
0   Reena   26  Female      WB    Kolkata
1   Meena   28  Female   Bihar      Patna
2  Anuska   25  Female      MP     Bhopal
3   Priya   28  Female      WB    Kolkata
4   Teena   24  Female      UP  Ghaziabad
5   Ankit   26    Male   Delhi  New Delhi
6   Rohan   26    Male   Delhi  New Delhi
7    Amit   23    Male  Punjab   Amritsar