In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("student_data.csv")
print(df.head())

   Student ID            Name  Age Grade        Major   GPA City
0           1     Paula Singh   23     B      Biology  2.52  LUS
1           2  Louis Robinson   21     A      English  3.66  KQK
2           3    Nora Krueger   18     B      English  3.95  EPV
3           4     Jones Myers   19     C  Mathematics  3.94  CUR
4           5      Lydia Leon   21     D  Mathematics  3.43  AER

In [6]:
print(df.columns)

Index(['Student ID', 'Name', 'Age', 'Grade', 'Major', 'GPA', 'City'], dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student ID  106 non-null    int64
 1   Name        105 non-null    object
 2   Age         106 non-null    int64
 3   Grade       105 non-null    object
 4   Major       105 non-null    object
 5   GPA         106 non-null    float64
 6   City        105 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 5.9+ KB